

.loginDiv {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  height: auto;
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.loginDiv h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 5px;
  color: #333;
}

.formGroup input {
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 20px;
}

.formGroup input:focus {
  border-color: black;
  outline: none;
}

.loginButtonDiv {
  margin-top: 20px;
}

.loginButtonDiv button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.loginButtonDiv button:hover {
  background-color: skyblue;
}

.signupRedirect {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.signupRedirect a {
  font-weight: bold;
  text-decoration: none;
}

.signupRedirect a:hover {
  text-decoration: underline;
  color: red;
}
